This is the model. It was practise and can be improved.

In [0]:
import pandas as pd
import numpy as np

In [93]:
kaggle = pd.read_csv('train.csv')
kaggles = pd.read_csv('test.csv')
final = kaggles.set_index('tweetid')
kaggle.isnull().sum()

sentiment    0
message      0
tweetid      0
dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X = kaggle['message']

In [0]:
y = kaggle['sentiment']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=42)

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

text_cls = Pipeline([('tfidf',TfidfVectorizer()),('classify',LinearSVC())])

In [99]:
text_cls.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classify',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [0]:
pred = text_cls.predict(X_test)

In [0]:
x_unseen=final['message']

In [0]:
y_prediction = text_cls.predict(x_unseen)

In [0]:
from sklearn.metrics import confusion_matrix,classification_report

In [104]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          -1       0.67      0.52      0.59       126
           0       0.66      0.42      0.51       224
           1       0.80      0.87      0.83       895
           2       0.76      0.83      0.79       337

    accuracy                           0.77      1582
   macro avg       0.72      0.66      0.68      1582
weighted avg       0.76      0.77      0.76      1582

the model's precision, recall and f1-score for sentiment 1 and 2 is high compared to sentiment -1 and 0 so our model does not accurately predict -1 and 0.

In [0]:
Final = final.index

In [0]:
Final_Table = {'tweetid': Final, 'sentiment':np.round(y_prediction, 0)}
submission = pd.DataFrame(data=Final_Table)
submission = submission[['tweetid', 'sentiment']]

In [107]:
submission.set_index('tweetid')

         sentiment
tweetid
169760           1
35326            1
224985           1
476263           1
872928           0
...            ...
895714           1
875167           1
78329            2
867455           0
470892           1

[10546 rows x 1 columns]

In [0]:
submission.to_csv("kaggle.csv",index  = False) #writing csv file